<div id="heading">
<img id="about-us" src="./assets/img/about-us-title-image.png" alt="About us"> 
<!-- <img id="about-us" src="./assets/img/nice-to-meet-you.jpg" alt="Nice to meet you!">  -->
  <h1>HELLO, <br> WE ARE GETXP</h1>
  <!-- <img src="./assets/img/logo2.png" alt="logo"> 
  <h1>WE ARE DIFFERENT</h1> -->
</div>

<div id="info">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Optio ratione atque delectus impedit, rerum incidunt at fuga placeat adipisci aliquid, 
    consectetur voluptates. Suscipit illum magni nulla earum laudantium ullam rerum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Optio ratione atque delectus impedit, rerum incidunt at fuga placeat adipisci aliquid, 
    consectetur voluptates. Suscipit illum magni nulla earum laudantium ullam rerum?
  </p>
</div>

<div id="team">
  <h1>Our team</h1>
  
  <p class="member" id="Aybek"> 
    <img class="member1-pic" src="./assets/img/member.png" alt="Member1"> <br>
    Abdullayev Aybek <br>
    KBTU <br>
    Second year student. <br>
    Front-end developer <br>
  </p>

  <p class="member" id="Hafsa">
    <img class="member2-pic" src="./assets/img/hafsa.jpg" alt="Member2"> <br>
    Hafsa Mufassir <br>
    KBTU <br>
    Second year student. <br>
    Front-end developer <br>
  </p>

  <p class="member" id="Alua">
    <img class="member1-pic" src="./assets/img/alua.jpg" alt="Member3"> <br>
    Turumbet Alua <br>
    KBTU <br>
    Second year student. <br>
    Front-end developer <br>
  </p>
  
  <p class="member" id="Anelya">
    <img class="member2-pic" src="./assets/img/anelya.jpg" alt="Member4"> <br>
    Belgibay Anel <br>
    KBTU <br>
    Second year student. <br>
    Front-end developer <br>
  </p>

</div>

<img class="nice-to-meet-you" src="./assets/img/nice-to-meet-you.jpg" alt="nice-to-meet-you"> 
