
    <div id="heading">
        <h1> <img id = "grad-hat-img" src="./assets/img/noun_Graduation Cap_1726751.png" alt="Graduation hat">
            Scholarship name</h1>
       
    </div>  
    <div id="basic-info">
        <p><img id = "scholarship-img" src="./assets/img/google.jpg" alt="Scholarship picture"></p>
        <h3>Deadline:<span> February, 29</span></h3>
        <h3>Place: <span>Google </span> </h3>
        <h3>Cost: <span>200$</span> </h3>
    </div>  
    <div id="description">
        <h3>Description</h3>
        <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Dolorum rerum vero consequuntur adipisci sed et reiciendis harum l
            aboriosam impedit accusamus mollitia, itaque laborum odit nulla doloremque? 
            Delectus impedit dignissimos dolorum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Dolorum rerum vero consequuntur adipisci sed et reiciendis harum l
            aboriosam impedit accusamus mollitia, itaque laborum odit nulla doloremque? 
            Delectus impedit dignissimos dolorum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Dolorum rerum vero consequuntur adipisci sed et reiciendis harum l
            aboriosam impedit accusamus mollitia, itaque laborum odit nulla doloremque? 
            Delectus impedit dignissimos dolorum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Dolorum rerum vero consequuntur adipisci sed et reiciendis harum l
            aboriosam impedit accusamus mollitia, itaque laborum odit nulla doloremque? 
            Delectus impedit dignissimos dolorum?</p>
        <h3>Requirements</h3>
        <ul>
            <li>First requirement</li>
            <li>Second requirement</li>
            <li>Third requirement</li>
            <li>Fourth requirement</li>
            <li>Fifth requirement</li>
        </ul>
    </div>
    <div class="wrapper">
        <button type="button" class="button">Apply!</button>
    </div>