
<header>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink=""><img src="assets/img/logo2.png" alt="logo" height="35px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
            <a class="navbar-item nav-link" routerLink="">
                Главная
              </a>
        </li>
        <li class="nav-item">
            <a class="navbar-item nav-link" routerLink="/internships">
              Стажировки
            </a>
        </li>
        <li class="nav-item">
            <a class="navbar-item nav-link" routerLink="/about">
              О нас
            </a>
        </li>
        <li class="nav-item">
          
             
            <a class="navbar-item nav-link" routerLink="/signIn">
              Войти
            </a>
        </li>
        <li class="nav-item">
            <a class="navbar-item nav-link" routerLink="/signUp">
              Регистрация
            </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<nav class="header navbar navbar-dark">
    <a class="navbar-brand has-text-success" >
      logo
    </a>
    <div class="nav nav-pills">
      
      <a class="navbar-item nav-link" routerLink="/internship">
          Internship
      </a>
  
      <a class="navbar-item nav-link" routerLink="">
        Главная
      </a>
      
      <a class="navbar-item nav-link" routerLink="/about">
        О нас
      </a>
       
      <a class="navbar-item nav-link" routerLink="/signIn">
        Войти
      </a>
  
      <a class="navbar-item nav-link" routerLink="/signUp">
        Регистрация
      </a>
    </div>
  </nav>
  