
<img id="logo" class="mb-4" src="assets/img/logo3.png" alt="" width="300">
    <h1 class="h3 mb-3 font-weight-normal">DO YOU WANT TO REGISTER AS</h1>
    
    
    
  
     <div id="link">

        <a routerLink="/signUpStudent">Student </a> 
       </div>

    <p>OR</p>
    <div id="link2" >

        <a routerLink="/signUpCompany">Company</a>
    </div>
    <div id="heading">
            <img id="about-us" src="https://www.logolynx.com/images/logolynx/8e/8e393522d00eb68745578b5e82019f36.png" alt="About us"> 
            
            </div>
            
   
    
        
        
      
         
        
    


