<div class="box">
    <article class="media">
      <div class="media-left">
        <img src="assets/img/justpng.png" height="100px" alt="Image">
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>KBTU inc. </strong> <small>@kbtu</small>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolorem alias consequatur! Totam, dolor non. Voluptate quam fugit, inventore quia iure eius aliquam porro corporis! Repellat corporis hic quidem eligendi? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum harum molestiae labore ad tempora id culpa hic nisi corrupti esse doloribus quo quia, vero quibusdam magnam temporibus necessitatibus, alias eaque! 
            <a routerLink="/internship-element">more</a>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fas fa-reply" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>