<div>
    <div id="welcome">
      <h1 class="title">Happy to see you!</h1>
      <h2>We hope that our page will be useful for you :)</h2>
      <img class="gif" src="https://media1.tenor.com/images/7a10bd99b9f95c7167b9f08936cfa791/tenor.gif?itemid=11988141" 
      alt="gif">
      
    </div>

    <!-- <div class="loader">Loading...</div> -->

    <div id="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Dolorum rerum vero consequuntur adipisci sed et reiciendis harum l
        aboriosam impedit accusamus mollitia, itaque laborum odit nulla doloremque? 
        Delectus impedit dignissimos dolorum?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Dolorum rerum vero consequuntur adipisci sed et reiciendis harum l
        aboriosam impedit accusamus mollitia, itaque laborum odit nulla doloremque? 
        
        </p>
    </div>

    <div class="wrapper">
        <button type="button" class="button">Apply somewhere!</button>
    </div>
    
</div>
